.NavbarWrapper {
    background-color: #fff;
    padding: 0px 50px;
}

.NavbarContent {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.NavbarLeft img {
    width: 220px;
    height: 50px;
}

.CartIcon {
    margin-right: 30px;
    cursor: pointer;
}

.BtnLogin {
    border: 1px solid #fff;
    background-color: #fff;
    color: #000;
    font-weight: 600;
    padding: 5px 20px;
    border-radius: 10px;
}

.BtnSignUp {
    border: 1px solid #F91944;
    background-color: #F91944;
    color: #fff;
    font-weight: 600;
    padding: 5px 16px;
    border-radius: 10px;
    margin-left: 10px;
}

.BtnLogin:focus, .BtnSignUp:focus {
    outline: none;
}

.cartLength {
    color: black;
    font-weight: bold;
    padding: 2px
}

.NavbarRight a:hover {
    text-decoration: none;
}

.CartIconActive {
    color: #F91944;
    margin-right: 30px;
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
	.NavbarLeft img {
        width: 100px;
        height: 30px;
    }
    .CartIconActive, .CartIcon {
        margin-right: 10px;
    }
	
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.NavbarLeft img {
        width: 150px;
        height: 30px;
    }
}